{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "quotes": [1, "single"]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}